.header-content .secondline{
    z-index:2;
    font-size:30px;
    padding-top:20px;
    font-weight:500;
    color:rgb(255,255,255,.8)
} 
.slash{
    animation-name:animateslash;
    animation-duration:.8s;
    animation-iteration-count:infinite;animation-play-state:running
} 
@keyframes animateslash{
    0%{opacity:1;z-index:2} 
    100%{opacity:0;z-index:0}
} 
@-webkit-keyframes animateslash{
    0%{opacity:1;z-index:2} 
    100%{opacity:0;z-index:0}
} 
@media all and (max-width:550px){
    .social-media-links{
        height:100vh;
        position:absolute;
        z-index:2;
        padding:60px;
        width:auto;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center
    }
} 