/*Header*/

:root{
    --back-color: black;
    --menu-btn-color: black;
    
    /*анимации*/
    --menu-btn-height: -40px;
    --shd-color-act: rgba(0,200,0,.5);
}

header{
    position: absolute;

    display: grid;
    grid-template-areas: 
        "info"
        "menu";
    gap: 10px;
    
    height: 120px;
    width: 60%;
    min-width: 400px;
    
    top: 0px;
    margin: 0 20%;

    
    opacity: 0.85;
}

/*****INFO*/
.info{
    grid-area: info;
    display: grid;
    grid-template-areas: "logo spc phone";
}

.logo{
    grid-area: logo;
    height: 60px;
    visibility: hidden;
}

.phone{
    grid-area: phone;
    text-align: right;
}

/*****MENU*/
.menu{
    display: grid;
    grid-template-areas: "btn-1 btn-2 btn-3 btn-4";
}

.menu span{
    background-color: var(--menu-btn-color);

    min-width: 100px;

    text-align: center;
    padding-top: 0.5em;

    transition: .3s linear;
}

.menu span:nth-child(1) { grid-area: btn-1; }
.menu span:nth-child(1):hover {
    box-shadow: 0 var(--menu-btn-height) 0 0 var(--shd-color-act) inset;
}
.menu span:nth-child(2) { grid-area: btn-2; }
.menu span:nth-child(2):hover {
    box-shadow: 0 var(--menu-btn-height) 0 0 var(--shd-color-act) inset;
}
.menu span:nth-child(3) { grid-area: btn-3; }
.menu span:nth-child(3):hover {
    box-shadow: 0 var(--menu-btn-height) 0 0 var(--shd-color-act) inset;
}
.menu span:nth-child(4) { grid-area: btn-4; }
.menu span:nth-child(4):hover {
    box-shadow: 0 var(--menu-btn-height) 0 0 var(--shd-color-act) inset;
}