

.animated_box{
	--animation-speed: 3s;
	overflow: hidden;
}

.animated_box:hover .animated_box_content{
	z-index: 10;
}

.animated_box:hover::before{
	content: "";
	position: absolute;

	width: 150px;
	height: 125%;

	background-color: var(--key-act-color);
	
	animation: animated_border_bef var(--animation-speed)  linear infinite;
}

.animated_box:hover::after{
	content: "";
	position: absolute;
	inset: 2px;
	background-color: var(--key-elem-color);
	border-radius: var(--radius);
}

@keyframes animated_border_bef{
	0%{
		background-color: var(--key-elem-color);
		transform: rotate(0deg);
	}
	20%{
		background-color: var(--key-act-color);
	}
	100%{
		background-color: var(--key-elem-color);
		transform: rotate(360deg);
	}
}
