/*animated background*/

.back_animated_section{
	position: relative;
	display: flex;
	flex-direction: column;

	letter-spacing: -0.1em;

	min-width: 330px;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

@media (max-width: 350px){

	.back_animated_section{
		display: none;
	}
}

.back_animated_section .row{
	position: relative;
	display: flex;


	top: -100%;
	left: -10%;

	transform: rotate(-30deg);

	width: 100%;
	margin-right: 20px;
	padding: 5px 1px;
	white-space: nowrap;

	font-size: 64px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 

	
}

.back_animated_section .row div{
	font-size: 1em;
	white-space: nowrap;
	animation: animate1 80s linear infinite;
	animation-delay: -80s;
}

.back_animated_section .row:nth-child(even) div{
	animation: animate3 80s linear infinite;
	animation-delay: -80s;
}

.back_animated_section .row div:nth-child(2){
	font-size: 1em;
	white-space: nowrap;
	
	animation: animate2 80s linear infinite;
	animation-delay: -40s;
}

.back_animated_section .row:nth-child(even) div:nth-child(2){
	animation: animate4 80s linear infinite;
	animation-delay: -40s;
}

@keyframes animate1{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(-100%);
	}
}

@keyframes animate2{
	0%{
		transform: translateX(0%);
	}
	100%{
		transform: translateX(-200%);
	}
}

@keyframes animate3{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(100%);
	}
}

@keyframes animate4{
	0%{
		transform: translateX(-200%);
	}
	100%{
		transform: translateX(0%);
	}
}

.back_animated_section i{
	user-select: none;
	cursor: default;
	color: var(--key-elem-op-color);
	transition: var(--icon-act-transition);
}

.back_animated_section .i_active{
	color: var(--key-act-color)!important;
	text-shadow: 0 0 120px var(--key-act-shd-color);
}

.back_animated_section i:hover{
	transition: 0s;
	color: var(--key-act-color);
	text-shadow: 0 0 120px var(--key-act-shd-color);
}