
header{
	position: absolute;

	display: grid;
	grid-template-areas: "head-logo menu";
	grid-template-columns: 250px 1fr;
	gap: 10px;

	top: 0;

	height: 60px;
	width: 100%;

	background-color: var(--hd-back-col);
	box-shadow: 0 0 19px 2px rgb(0 0 0 / 91%);

	color: var(--key-hd-text-color);
	z-index: 1;

	text-decoration: none;
}

.header_logo {
	display: grid;
	grid-area: "head-logo";
	grid-template-areas: "logo info";
	grid-template-columns: min-content 1fr;
	column-gap: 10px;

	float: left;
	margin: 5px 0 0 30px;
}

.header_logo .logo_ico {
	grid-area: "logo";
	height: 50px;
}

.header_logo .logo_text {
	display: grid;
	grid-area: "info";
	grid-template-areas:
		"name",
		"tagline";
	color: var(--key-hd-text-color);
}




/* при ширине экрана больше чем */
@media (min-width: 768px){

	/* logo */
	.header_logo .logo_name {
		display: flex;
		align-items: flex-end;
		padding-bottom: 2px;
	
		/* font-weight: bold; */
		font-family: ds3-bold;
		font-size: 20px;
		letter-spacing: 0.3em;
	
	}
	
	.header_logo .logo_tagline {
		font-size: 14px;
		text-transform: uppercase;
		/* letter-spacing: 0.07em; */
		color: var(--key-hd-tagline-color);
	}


	/* menu */
	header .menu{
		display: grid;
		align-items: center;
		text-transform: uppercase;
		min-width: 410px;
	}
	
	.menu ul li{
		display: inline;
		margin-right: 20px;
	}
	
	.menu a{
		color: var(--key-hd-text-color);
		min-width: 140px;
		text-decoration: none;
	}

	.menu .menu_expanded_button{
		display: none;
	}


}


/* при ширине экрана больше чем */
@media (max-width: 768px){

	/* logo */
	.header_logo .logo_name {
		display: flex;
		grid-row: span 2;
		align-items: center;
		padding-bottom: 2px;
	
		font-weight: bold;
		font-size: 20px;
		letter-spacing: 0.1em;
	
	}

	.header_logo .logo_tagline {
		display: none;
	}


	/* menu */
	.menu ul{
		display: none;
	}

	.menu .menu_expanded_button{
		display: block;
		height: 50px;
		width: 50px;
		margin: 5px 15px 0 0;
		background-color: var(--key-back-color);
		border: none;

		float: right;
	}

	.menu_expanded_button i {
		cursor: default;
		align-items: center;
		color: var(--key-act-color);
		font-size: 22px;
	}
}