@font-face {
	font-family: "ds3";
	font-style: normal;
	font-weight: 400;

	src: local(masonchronicles), url(/pages/fonts/masonchronicles.ttf);
}

@font-face {
	font-family: "ds3-bold";
	font-style: normal;
	font-weight: 900;

	src: local(masonchronicles), url(/pages/fonts/masonchronicles.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: ds3;
}

html,
body {
	color: ivory;

	background-color: var(--key-back-color);

	height: 100%;
	width: 100%;

}

main {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;

	top: 0;

	height: 100%;
	min-height: 30%;
	width: 99.8%;

	pointer-events: none;

	overflow: hidden;
}

.page-shell {
	pointer-events: all;
}

.visually_hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}