
.item_wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
	gap: 10px;
	row-gap: 25px;

	margin-top: 120px;

	height: 100vh;
	min-height: 30%;
	width: 100%;

	overflow-y: scroll;
	justify-items: center;
	pointer-events: all;
}


.item_box {
	display: inline-block;
	width: 350px;
	height: 600px;
	margin-top: 20px;

	font-size: 25px;
	color: rgb(222, 222, 222);

	background-color: black;

	box-shadow:
		0 0 0 1px rgba(245, 245, 245, 0.718),
		0 0 0 5px black;

}

.item_box a {
	text-decoration: none;
	color: whitesmoke;
}

.item_box h3 {
	text-align: center;
}

.item_box .divider {
	height: 1px;
	width: 95%;
	margin: 1px 0 4px 2.5%;

	background-color: whitesmoke;

	opacity: 0.7;
}

.item_box .year {
	text-align: center;
	margin-bottom: 3px;
}

.item_box .stack {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;

	width: 100%;
}

.item_box i {
	color: aliceblue;
	font-size: 30px;
}

.item_box i img {
	width: 30px;
	line-height: 1;
	margin-bottom: -2px;
}

.item_box .screenshot img {
	max-width: 340px;
	margin-left: 1.5%;
}

.item_box .annotation {
	text-align: center;
}


.item_links p{
	text-decoration: underline;
	text-align: center;
	margin-top: 20px;
}