	/* main */
:root{
	/* key colors for all website */
	--key-back-color: rgb(20, 20, 20);
	--key-elem-color: black;
	--key-elem-op-color: rgba(0, 0, 0, 0.5);
	--key-act-color: rgb(0, 255, 0);
	--key-act-shd-color: rgba(0, 240, 0, 0.8);

	/* animated backround icons */
	--icon-act-transition: 0.6s;

}

	/* header */
:root{
	--hd-back-col: #0c1013;
	--key-hd-text-color: rgb(56,250,83);
	--key-hd-tagline-color: rgb(23, 121, 36);

	/*buttons animation active*/

	--btn-act-shd-delay: 0.5s;
	--btn-act-dec-delay1: 0.1s;
	--btn-act-dec-delay2: 0.2s;
	--btn-act-dec-delay3: 0.3s;
	--btn-act-dec-delay4: 0.4s;
	--btn-act-dec-transition: 0.5s;

	--btn-act-text-color: black;
}