body {
	margin: 0;
	padding: 0;
}

.wraper {
	height: 300px;
	width: 600px;
	margin-top: 100px;
	margin-left: 350px;
	border: solid 1px;
	border-radius: 5px;
	
}
.header {
	margin-top: 15px;
	float: right;
	margin-bottom: 20px;
	margin-right: 5px;
}
.header input {
	height: 40px;
	width: 580px;
	font-size: 30px;
	text-align: right;
}
.btms {
	margin-left: 10px;
}
.btms button {
	min-width: 100px;
	height: 30px;
	margin: 5px;
}
#rn {
	background-color: blue;
	color: white;
	border-color: blue;
	
}

#cor img {
	height: 16px;
}

#CE {
	background-color: orange;
	border-color: orange;
}
#AC{
	background-color: red;
	border-color: red;
}













