
/*
* Dark Theme for Author.Today
* by Priboy313
*
* version: 0.7r
*
* injector link: https://author.today
*
*/




:root{
	--col-back: #222226;				/* исключительно для body, задний фон страницы */
	
	--col-panel: #333336;				/* тела блоков */
	--col-title: #444446;				/* заголовки блоков, главный текст, заголовки */
	--col-border: #3f3f41;				/* границы обычных блоков */
	--col-shadow: rgb(63,63,65 / 12%);	/* тень */
	
	--col-search-back: #444446;			/* задник для поисковой строки */
	
	--col-alarm-border: #e27c79;		/* границы предупреждающих блоков, ошибок, оповещений */
	--col-alarm-text: #d9463c;			/* текст предупреждающих блоков, ошибок, оповещений */
	
	--col-a: #d9d9da;					/* цвет ссылок */
	--col-name-text: #bed4d2;			/* цвет заголовков, выделенного текста */
	--col-text: #6a7c8a;				/* цвет затемнённого текста, если уместен и не сливается */
}


*{
	color: var(--col-text);
	
}

body{
	background-color: var(--col-back);
}

a, a:hover, .special-link, .special-link:hover{
	background-color: transparent;
	color: var(--col-a);
}






	/** head menu, dropdown menu **/

body:not(.layout-responsive) .navbar .navbar-nav .open .dropdown-menu,
.navbar .navbar-nav .open .dropdown-menu a,
.dropdown-header, .dropdown-menu{
	color: var(--col-a);
	background-color: var(--col-panel);
}

.dropdown-menu::before{
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--col-panel);
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0,0,0,.2);
}

.dropdown-menu::after{
	border-right: 6px solid transparent;
    border-bottom: 6px solid var(--col-panel);
    border-left: 6px solid transparent;
}

.navbar .navbar-nav .open .dropdown-menu li:hover a{
	color: var(--col-a);
	background-color: var(--col-title);
}

.dropdown-menu .divider{
	/* так и не понял, как поменять задник полоске-разделителю перед заголовком ТОП*/
	display: none;
}


.notification-header{
	border-bottom: solid 1px var(--col-border);
	background-color: var(--col-panel);
}



.list-group-item{
	background-color: var(--col-panel);
	border: 1px solid var(--col-border);
}

.list-group-item .contact .contact-info{
	color: var(--col-a);
}

.list-group .list-group-item .contact:hover{
	background-color: var(--col-title);
}





.search-input{
	background-color: var(--col-search-back);
    border: 1px solid var(--col-border);	
}

.book-cover .cover-image{
	background-color: var(--col-panel);
    border: 1px solid var(--col-border);
}




	/** footer **/
	
.footer{
	background-color: var(--col-panel);
    border-top: 1px solid var(--col-border);
}

.footer a{
	background-color: var(--col-panel);
	color: var(--col-a);
}



	/*	----	ГЛАВНАЯ		----	*/

h2 a,
.bookcard-footer .bookcard-title a{
	color: var(--col-a);
}

.bookcard-footer .bookcard-authors:after{
	background-color: transparent;
}


	/*	----	BOOK PAGE	----	*/
	
	/** right profile **/
	
.aside-profile-stats, 
.aside-profile-btns{
	background-color: var(--col-panel);
}



	/** .panel **/
	
.panel{
	border: 1px solid var(--col-border);
	background-color: var(--col-back);
	box-shadow: 0 0.005em 0.01em 0 var(--col-back), 0 2px 10px 0 var(--col-back);
}

.panel-body{
	background-color: var(--col-panel);
}

.panel-heading .panel-nav{
	background-color: var(--col-title);
}

.panel .panel-heading {
	background-color: var(--col-title);
	border-bottom: 1px solid var(--col-border);
}

.panel-heading a{
	background-color: var(--col-title);
}


.alert-warning{
	background-color: var(--col-panel);
	border-color: var(--col-alarm-border);
}

.alert-warning p{
	color: var(--col-alarm-text);
}





	/** panel book **/
.book-row{
	border-bottom: 1px solid var(--col-border);
}
.book-row .book-title a, 
.book-row .book-title a:hover{
	color: var(--col-a);
}

.disputed-item{
	border-bottom: 1px solid var(--col-border);
}

.disputed-item:hover{
	background-color: var(--col-title);
}

.item-title{
	color: var(--col-a);
}

.fr-box:not(.fr-basic){
	border: 2px solid var(--col-border);
}

.pagination li a, 
.pagination li span,
.pagination> .disabled a{
	border-color: var(--col-border);
    background: var(--col-title);
}

.pagination li a:hover, 
.pagination li span:hover, 
.pagination .disabled a:hover{
	border-color: var(--col-border);
    background: var(--col-title);
    text-decoration: underline;
}

.pagination .active a, 
.pagination .active a:hover{
	border-color: var(--col-border);
    background: var(--col-panel);
    color: var(--col-text);
    text-decoration: none;
}

.comment:not(.c-reply) a{
	transition: background-color .4s ease-in;
}

.comment:not(.c-reply):hover,
.comment:not(.c-reply):hover a{
	background-color: var(--col-title);
	transition: background-color .4s ease-in;
}

.comment-toggle-expand{
	background: var(--col-panel);
}

.comment-toggle-expand:hover{
	text-decoration: underline;
}

.comment.is-new header{
	background-color: transparent;
}

.is-new .comment-toggle-expand{
	background-color: var(--col-panel);
}

.fr-view blockquote{
    border: 1px solid var(--col-border);
	background-color: var(--col-panel);
}

.collection, 
.collection footer{
	background: var(--col-panel);
    border: 1px solid var(--col-border);
}




	/** panel button **/
.btn-default {
	color: var(--col-name-text);
	background-color: var(--col-title);
	border-color: var(--col-border);
}

.btn-default:hover{
	color: var(--col-a);
	text-decoration: underline;
	background-color: var(--col-title);
	border-color: var(--col-border);
}

.btn-default:active{
	color: var(--col-a);
	text-decoration: underline;
	background-color: var(--col-title);
	border-color: var(--col-border);
}

.btn-default:focus{
	color: var(--col-a);
	text-decoration: underline;
	background-color: var(--col-title);
	border-color: var(--col-border);
}

.btn-default:mousedown{
	color: var(--col-a);
	text-decoration: underline;
	background-color: var(--col-title);
	border-color: var(--col-border);
}


.new-year-layout .topnavbar-wrapper{
background-color: var(--col-panel);
}


.nav-pills-v2 .nav li a.nav-link, 
.nav-pills-v2 .nav li a:hover.nav-link,
.book-page .nav>li>a:hover{
	background-color: var(--col-title);
	color: var(--col-name-text);
}

.tab-content{
    border-color: var(--col-border);
}

.book-page .book-tab-content {
	background-color: var(--col-panel);
}

.book-page .book-title{
	color: var(--col-a);
}










	/** navigation ul li **/
	
.nav-tabs{
	border-bottom: 1px solid var(--col-border)
}

.nav-tabs li a{
	background-color: var(--col-panel);
	border: 1px solid var(--col-border);
	color: var(--col-a);
}

.nav-tabs li:hover a{
	background-color: var(--col-panel);
	border: 1px solid var(--col-border);
	text-decoration: underline;
}

.nav-tabs li.active:hover a{
	background-color: var(--col-panel);
	border: 1px solid var(--col-border);
	text-decoration: none;
}

.nav-tabs li.active a{
	background-color: var(--col-title);
	border: 1px solid var(--col-border);
}








	/*	----	МОИ ПРОИЗВЕДЕНИЯ	----	*/


	/** left sidebar **/


.profile-card{
	border: 1px solid var(--col-border);
}
.aside-profile.profile-card .aside-profile-avatar{
	background-color: var(--col-border);
	border: 3px solid var(--col-border);
}

.layout-fixed .wrapper .aside{
	background-color: var(--col-panel);
}

.sidebar{
	background-color: var(--col-panel);
}

.sidebar .nav li{
    border-left: 3px solid var(--col-panel);
}

.sidebar .nav li a{
	color: var(--col-a);
}

.sidebar .nav li.active,
.sidebar .nav li.active a, 
.sidebar .nav li.active span{
	background-color: var(--col-panel);
	color: var(--col-text);
}

.sidebar .nav li a:hover{
	background-color: var(--col-title);
	color: var(--col-a);
	text-decoration: underline;
}

.sidebar .nav li.active a:hover{
	background-color: var(--col-panel);
	color: var(--col-a);
	text-decoration: none;
}









	/*	---- НОВОСТИ ---- */

.nav-pills-v2{
	background-color: var(--col-panel);
}


.header .nav-profile .nav-pills-v2 .nav-pills .nav li a.nav-link{
	background-color: var(--col-panel);
}


.profile .header{
	border-bottom: 1px solid var(--col-border);
}

.is-new{
	background-color: var(--col-title)!important;
}

.is-new a {
	background-color: transparent!important;
}

.feed-row{
	background-color: var(--col-panel);
}








	/*	---- ПОСТ БЛОГА ---- */

.post.full-post .post-buttons{
	border: 1px solid var(--col-border);
	background-color: var(--col-panel);
}







	/** --------------- scrollbar ------------------------ **/

::-webkit-scrollbar-button {
	width:5px;
	height:0px;
}

::-webkit-scrollbar-track {
	background-color:rgb(58, 58, 58);
}

::-webkit-scrollbar-thumb {
	background-color: white;
}

::-webkit-scrollbar-thumb:hover{
	background-color:#56999f;
}

::-webkit-resizer{
	width:4px;
	height:0px
}

::-webkit-scrollbar{
	-webkit-border-radius: 2%;
	border-radius: 2%;
	width: 4px;
}

::-webkit-scrollbar-button {
	width:5px;
	height:0px;
}

::-webkit-scrollbar-track {
	background-color:rgb(58, 58, 58);
}

::-webkit-scrollbar-thumb {
	background-color: white;
}

::-webkit-scrollbar-thumb:hover{
	background-color:#56999f;
}

::-webkit-resizer{
	width:4px;
	height:0px
}

::-webkit-scrollbar{
	-webkit-border-radius: 2%;
	border-radius: 2%;
	width: 4px;
}










